@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #ec0b25;
  --black: #000000;
  --white: #ffffff;
  --gray: #111111;
  --gray-secondary: #272626;
  --gray-text: #a1a1a1;
  --transparent: transparent;
}

body {
  background-color: var(--black);
}

p {
  font-size: 1.125rem;
}
